body {
    background-color: #65B3FC;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

p {
    background-color: #9B9B9F;
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}

#encabezado {
    background-color: #65B3FC;
}

#informacion {
    text-align: left;
    color: white;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
}

#botones {
    background-color: #FFBE5E;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
